.billing-header {}

.billing-button-yellw {
	font-size: 20px;
	border-radius: 4px;
	margin-top: 7vh;
	margin-left: 20vh;
	background: #ffa733;
	color: white;
	width: 150px;
	height: 40px;
	border: none;
	outline: none;
}

.billing-button-blue {
	background: 223867;
	font-size: 20px;
	border-radius: 4px;
	margin-top: 7vh;
	margin-left: 20vh;
	color: white;
	width: 150px;
	height: 40px;
	border: none;
	outline: none;
}