.documents span {
  margin: 10px 0;
  display: block;
  font-weight: 700;
}

.document-img {
  max-width: 90%;
  margin: 15px;
}

.insurance-span {
  margin: 40px 0 10px 0 !important;
}

.insurance-img {
  max-width: 100%;
}

.ant-dropdown-menu {
  position: absolute;
  right: 0;
}

.profile-role {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 4px;
  margin: 0 4px;
}

.profile-full-name {
  text-transform: capitalize;
}

.ant-dropdown-menu-item {
  float: left !important;
}

.change-branch::before {
  color: rgba(0, 0, 0, 0.85);
  content: 'Change Branch: '
}