.report-container {
	margin: 20px 0;
	padding: 10px 0;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
	display: flex;
	justify-content: space-between;
	background: #f9f9f9;
	border-radius: 3px;
}

.ant-calendar-ok-btn {
	color: #fff !important;
}

.report-container .item {
	padding: 0 14px;
	height: 36px;
	line-height: 36px;
	font-weight: 700;
	font-size: 1.15em;
}

.ant-table-pagination.ant-pagination {
	float: right;
}

.ant-table-bordered ant-input {
	border: 1px solid #f3f3f3;
}

.ant-table-thead>tr>th {
	background: #f3f3f3;
}

.ant-table-tbody>tr>td {
	background: #fff;
}

.ant-table-tbody td span a {
	width: 50%;
	display: inline-block;
	margin: 0 !important;
	padding: 0 5px;
}

.ant-pagination-item, .ant-pagination-prev, ant-pagination-next {
	float: left;
}

#less-visible {
	font-weight: lighter;
}

.different-reports {
	width: 90%;
	margin-top: 5vh;
	display: flex;
	justify-content: space-around;
}

.ant-calendar-picker-input input, .ant-calendar-picker-input span {
	float: left;
}

#flex {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 400px;
	margin-bottom: 30px;
}

.box {
	outline: none;
	border: none;
	padding: 20px 32px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	height: 70px;
	width: 250px;
}

.orange-bg {
	margin-bottom: 15px;
	background: linear-gradient(#ffbe71, #ffa733);
	color: black;
}

.black-bg {
	margin-bottom: 15px;
	color: white;
	background: linear-gradient(#444, #111);
}

/* .outlined {
	background: rgba(0, 0, 0, 0);
	border: 1px solid #333;
} */

@media (max-width: 1200px) {
	.different-reports {
		flex-direction: column;
		align-items: center;
	}
	.report-container {
		max-width: 90%;
		margin: 20px auto;
	}
}

@media (max-width: 380px) {
	.report-container {
		margin-left: 10%;
	}
	.different-reports {
		margin-left: 5%;
	}
}

@media (max-width: 414px) {
	.report-container {
		margin-left: -2%;
		margin-top: -9%;
		width: 100%;
	}
}