body {
    background: #f7f1e3;
}

button, a {
    cursor: pointer;
}

.dashboard-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #f7f1e3;
    max-width: 100%;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar {
    width: 120px;
    height: 120px;
}

.items {
    /* display: flex;
        flex-wrap: wrap; 
         flex-direction: row; */
    /* flex: 1 0 25%; */
    background-color: #f7f1e3;
    margin: auto .75em;
}

.drinks {
    background: #359aff !important;
    color: white !important;
}

.burger {
    background: #3caa3c !important;
    color: white !important;
}

.chicken {
    background: #20b8bd !important;
    color: white !important;
}

.chicken2 {
    background: #bb214b !important;
    color: white !important;
}

.ice-cream {
    background: #19467f !important;
    color: white !important;
}

.hot-dog {
    background: #dcb016 !important;
    color: white !important;
}

.chees {
    background: #696969 !important;
    color: white !important;
}

.pasta {
    background: #dcb016 !important;
    color: white !important;
}

/* .dashboard-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
} */

/*
.dashboard-main-wrapper{
    margin-top: 90px;
    margin-left: 80px;

}
*/

.ant-tag {
    margin: .2em;
}

.print-table td, .print-table th {
    border: 1px solid;
    padding: 4px 8px;
}

.product-image {
    max-height: 5em;
    max-width: 5em;
    height: auto;
    margin: 0 auto;
}

input:disabled {
    background: #f1f1f1;
    cursor: not-allowed;
}

.button-size-icon {
    width: 120px;
    height: 120px;
    margin: 10px 0;
    line-height: 1.125;
    border-radius: 100%;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0;
}

.button-style {
    position: relative;
}

.button-style .fa-pencil {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    z-index: 100;
    background: #555;
    border-radius: 100%;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 15px;
    text-align: center;
}

.menu-options {
    display: flex;
    flex-direction: column;
    font-size: 15px
}

.menu-options span {
    white-space: normal;
}

.menu-options.name {
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    color: #f6f6f6;
    padding: 2px;
    max-width: 7.4em;
    text-align: center;
    margin: 0 auto;
    white-space: normal;
    text-transform: capitalize;
}

.menu-options.price {
    white-space: normal;
    background: #f7f7f7;
    color: #555;
    border: 1px solid #999;
    padding: 5px 2px;
    margin-top: 8px;
}

.menu-options.details {
    font-weight: 700;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100%;
}

.black {
    color: black;
}

.white {
    color: white;
}

.dashboard-billing {
    margin-left: 15vw;
}

.content {
    margin: 60px 0 0 0;
}

.back-button {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    position: absolute;
    right: -15px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.back-button-border {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
    line-height: 1.5;
}

.back-button-border span {
    margin-left: 2px;
}

.choose-icon {
    max-width: 100px;
    max-height: 100px;
    margin: .5rem;
}

.choose-icon:hover, .choose-icon:active, .choose-icon:focus {
    background-color: #359aff;
    cursor: pointer;
}

.single-invoice .ant-avatar {
    width: 80px;
    height: 80px;
    border-radius: 0;
}

.single-invoice .ant-avatar img {
    width: 80px;
    height: 80px;
}

.single-invoice .ant-card-meta {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
}

.single-invoice .ant-card-meta-title {
    line-height: 40px;
    font-size: 24px;
}

@media (max-width:320px) {
    .dashboard-main-wrapper {
        text-align: center;
    }
    .content {
        margin-left: 10%;
        width: 100%;
    }
    .button-size-icon {
        margin: 8px auto;
    }
    .dashboard-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        flex: 1 0 50%;
        padding-left: 10px;
    }
}

@media (max-width:414px) {
    .dashboard-main-wrapper {
        text-align: center;
    }
    .content {
        width: 100%;
    }
    .dashboard-flex {
        width: 180%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        flex: 1 0 50%;
        padding-left: 10px;
    }
}

@media (max-width:768px) {
    .content {
        width: 100%;
        margin: 0;
    }
    .dashboard-main-wrapper {
        text-align: center;
    }
    .dashboard-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .items {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        flex: 1 0 21%;
    }
}

@media (max-width: 1024px) {
    .dashboard-flex {
        display: flex;
        justify-content: space-evenly;
    }
}

/*
@media (max-width:1024px){
    .dashboard-main-wrapper{
          text-align: center;
    }
    .content{
width: 100%;
        margin-left:3%;
    }
    .dashboard-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        }
    .items{
        text-align: center;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        flex-direction: row;
        flex: 1 0 25%;
       
    }
}
*/

/*
*{
    border: 1px solid red;
}
*/