.box-t{
	outline:none;
	border:none;
	padding: 20px 32px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;	
	height:70px;
	/*width:190px;*/
	min-width:180px;
}
.different-reports-t{
	width: 90%;
	margin-top:5vh;
	margin-right: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-width: 290px;
}
@media (max-width: 380px){
    .report-container-flex{
        margin-top: 10%;
        margin-left: 23px;
    }
    .different-reports-t{
	    margin-left: 20px;
	}
}
@media (max-width: 414px){
    .report-container-flex{
        margin-top:0;
        margin-left: 20px;
    }
    .different-reports-t{
	    margin-left: 20px;
	}
}
